/*! nano.css v1.0.0 | MIT License | github.com/zeekzilla/nano.css */
.container{width: 960px;margin: 0 auto;}
.columns{float: left;margin: 0 10px;display: inline;}
.row .row {margin: 0 -10px;width: auto;display: inline-block;}
.one { width:60px; }
.two { width:140px; }
.three { width:220px; }
.four { width:300px; }
.five { width:380px; }
.six { width:460px; }
.seven { width:540px; }
.eight { width:620px; }
.nine { width:700px; }
.ten { width:780px; }
.eleven { width:860px; }
.twelve { width:940px; }
.container:before,.container:after,.row:before,.row:after,.clearfix:before,.clearfix:after {content: " ";display: table;}.container:after,.row:after,.clearfix:after {clear: both;}
.container,.row,.clearfix{*zoom: 1;}
/* breakpoint classes */
@media only screen and (max-width: 320px) {
  .breakpoint-small.container{width: auto;margin:0 auto;}
	.breakpoint-small .columns,
	.breakpoint-small.columns,
	.breakpoint-small {display:block;float: none;width:auto;clear:both;margin:0 10px;}	
}
@media only screen and (max-width: 480px) { 
	.breakpoint-medium.container{width: auto;margin:0 auto;}
	.breakpoint-medium .columns,
	.breakpoint-medium.columns,
	.breakpoint-medium {display:block;float: none;width:auto;clear:both;margin:0 10px;}	
}
@media only screen and (max-width: 768px) {
	.breakpoint-large.container{width: auto;margin:0 auto;}
	.breakpoint-large .columns,
	.breakpoint-large.columns,
	.breakpoint-large {display:block;float: none;width:auto;clear:both;margin:0 10px;}	
}
/* use instead of breakpoint classes if you wan't this file slimmer
@media only screen and (max-width: 768px) { 
	.container{width: auto;margin:0 auto;}
	.columns{display:block;float: none;width:auto;clear:both;margin:0 10px;}
}
*/
